.button {
  min-width: 70px;
  min-height: 30px;
  margin-bottom: 1em;
  padding: 5px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: white;
  color: #555555;
  cursor: pointer;

  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;

  &:not(:last-of-type) {
    margin-right: 1em;
  }

  &:hover,
  &:focus {
    background-color: #7ac751;
    color: white;
    transform: scale(1.1);
  }
}
