.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  background-color: #555555cc;
  // z-index: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 450px;
  text-align: center;
  overflow: hidden;

  background-color: #555555;
  color: #fff;

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.containerHeader {
  position: relative;
  padding: 0.5em;
  background-color: #bbb;
  margin-bottom: 1em;

  & button {
    position: absolute;
    top: 5px;
    right: 5px;
    align-items: center;

    margin: 0;
    padding: 1px;
    min-width: 25px;
    min-height: 25px;
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.text {
  margin-bottom: 12px;
}
