.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555555;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.item {
  transition: transform 250ms liner;

  &:hover,
  &:focus {
    transform: scale(1.2);
    cursor: pointer;
  }

  &:visited {
    color: inherit;
  }

  &:not(:last-child) {
    margin-right: 80px;
  }
}

.active {
  font-weight: 700;
  color: #ff7f5077;
}
