.App {
  margin-right: auto;
  margin-left: auto;
  /* width: 1170px; */
  text-align: center;
}

.title{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}
